.nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #f9f9fa;
	padding: 20px 50px;
	box-sizing: border-box;
	border-top: var(--main-border);
}

.nav__list {
	display: flex;
	justify-content: space-between;
}

@keyframes navBtnSeleced {
	from {
		color: var(--black);
	} to {
		color: var(--red);
	}
}

.nav__btn--selected {
	color: var(--red);
	animation: navBtnSeleced 0.5s ease-in-out forwards;
}

.nav__link {
	position: relative;
}

.nav .notification--badge {
	top: -20px;
	right: -15px;
}

.nav .notification--point {
	top: -10px;
	right: -5px;
}