#no-mobile {
	position: absolute;
	z-index: 99;
	height: 100vh;
	width: 100vw;
	background-color: var(--red);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	font-weight: 700;
	top: 0;
}

@media screen and (max-aspect-ratio: 10/15) {
	#no-mobile {
		display: none;
	}
}